<section class="sign login">
    <h2 class="sign__h2">Login To Start Write <i class="far fa-grin-beam"></i></h2>
    <form class="sign__form">
        <input type="email" name="email" id="email" class=" sign__form-input" placeholder="Enter Your Email">
        <input type="password" name="password" id="password" class=" sign__form-input" placeholder="Enter Your Password">
        <input type="submit" value="send" class="sign__form-send" id="send">
    </form>
</section>