<section class="sign">
    <h2 class="sign__h2">Register To Start Write <i class="far fa-grin-beam"></i></h2>
    <form class="sign__form">
        <input type="text" name="first_name" id="first_name" class="sign__form-input" placeholder="Enter First Name" autofocus>
        <input type="text" name="last_name" id="last_name" class=" sign__form-input" placeholder="Enter Last Name">
        <input type="email" name="email" id="email" class=" sign__form-input" placeholder="Enter Your Email">
        <input type="text" name="image" id="image" placeholder="Put Your Image URL" class="sign__form-input">
        <input type="password" name="password" id="password" class=" sign__form-input" placeholder="Enter Your Password">
        <input type="password" name="confirm_password" id="confirm_password" class=" sign__form-input" placeholder="Enter Confirm Password">
        <input type="submit" value="send" class="sign__form-send" id="send">
    </form>
    <div class="sign__popup">
        <p>Sign Up is Done <i class="far fa-thumbs-up"></i></p>
        <p>Please press Cancle to go to login to your account</p>
        <button class="sign__form-send" id='cancle'>Cancle</button>
    </div>
</section>