<footer class="footer">
<p>Eng Shorouq Saad <i class="far fa-grin-beam"></i> Copyright &copy; 2019</p>
</footer>
{{#if domSignUp}}
<script src="/js/domSignup.js"></script>
{{/if}}
{{#if domLogin}}
<script src="/js/domLogin.js"></script>
{{/if}}
{{#if domHome}}
<script src="/js/domDeletePost.js"></script>
<script src="/js/domEditPost.js"></script>
<script src="/js/domHome.js"></script>
{{/if}}
